* {
  font-family: "Barlow", sans-serif;
}

.darkMode > button{
  padding: 7px !important;
}
.darkMode > button:focus {
  outline: none;
  outline-offset: 1px ;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

/* Responsiv Header */

@media only screen and (max-width: 600px) {
  .header-wrapper {
    padding: 8px 10px;
  }
  .darkMode > button{
    padding: 4px !important;
    
  }
  .darkMode > button:focus {
    outline: none;
    outline-offset: 1px ;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  }
} 

.p-stepper-nav {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.p-stepper-nav .p-stepper-title {
  font-size: 16px;
  font-weight: 600;
}
.p-datepicker {
  min-width: auto !important;
  margin-right: auto !important;
  float: left;
}
.dropdownMagister  .p-inputtext {
  padding: 6.8px 10px !important;
  font-size: 14px;

}


/* Sidebar */
.group\/head:first-child .group-first\/head\:first\:rounded-tl-lg:first-child {
  border-top-left-radius: 0;
}
.numCul > span{
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(91, 187, 91);
  color: white;
  margin: 5px 10px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}
.dark .ant-select-selection-placeholder, .dark  .ant-select-arrow{
  color: #c6c6c6 !important
}
.dark .ant-select-selector {
  background-color: #374151 !important;
  border: 0
}
.dark .ant-select-dropdown-placement-bottomLeft {
  background-color: #474f5c !important;
}
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected), .dark :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light .ant-menu-submenu-title,
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {

  color:#f1f1f1;
}
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light .ant-menu-item-selected {
  background-color: #474f5c !important;
  color: #fff
}
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: #474f5c !important;
  color: #fff
}
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #474f5c !important;
}
.dark .ant-select-item-option-content, .dark .ant-btn >span , .dark .ant-select-selection-item{
  color: #fff !important
}
.dark .ant-input , .dark .ant-input::placeholder {
  background-color: #374151;
  color: #fff !important
}
.dark .ant-input::placeholder, .dark :where(.css-dev-only-do-not-override-11lehqq).ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end) .ant-picker-cell-inner, 
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-form-item .ant-form-item-label >label {
  color: #c6c6c6 !important;
}
.dark .p-connected-overlay-enter-done , .dark .p-datepicker-header, .dark .day{
  background-color: #374151;
  color: #fff;
}
.dark td > span:hover {
  background-color: #333;
}
.ant-select-selector {
  margin: 0 auto !important;
  width: 99% !important;
  border: none;
}
.ant-select-selector:focus {
border: 0;
outline: none;
}
.dark .ant-select-dropdown {
  background-color: #374151;
}
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  
  background-color: #2d3541 !important; 
}
.dark .react-datepicker, .dark .react-datepicker__time-box , .dark .react-datepicker__day-names, .dark .react-datepicker__day-names , .dark .react-datepicker__month-container, .dark :where(.css-dev-only-do-not-override-11lehqq).ant-btn-default{
  background-color: #374151 !important;
  color: #fff !important;
}
.dark .react-datepicker > div, .dark .react-datepicker__time-box > div , .dark .react-datepicker__day-names, .dark .react-datepicker__day-names , .dark .react-datepicker__month-container{
 
  color: #fff !important;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-select-multiple .ant-select-selection-overflow  {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
} 
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content {
  font-size: 15px;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu-inline.ant-menu-root .ant-menu-submenu-title >.ant-menu-title-content {
  font-size: 15px;
  font-weight: 500;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-menu .ant-menu-item .ant-menu-item-icon , :where(.css-dev-only-do-not-override-11lehqq).ant-menu .ant-menu-submenu-title .ant-menu-item-icon{
  font-size: 18px;
}

.dark :where(.css-dev-only-do-not-override-11lehqq).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >thead>tr>th ,
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
  background-color: #374151;
}
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-table-wrapper .ant-table-tbody >tr >th , .dark :where(.css-dev-only-do-not-override-11lehqq)[class^="ant-table"] [class^="ant-table"], .dark :where(.css-dev-only-do-not-override-11lehqq)[class*=" ant-table"] [class^="ant-table"],
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-pagination .ant-pagination-item, .dark :where(.css-dev-only-do-not-override-11lehqq).ant-pagination .ant-pagination-item > a,
.dark :where(.css-dev-only-do-not-override-11lehqq).ant-picker-outlined, .dark :where(.css-dev-only-do-not-override-11lehqq).ant-picker-dropdown .ant-picker-panel-container {
  background-color: #374151;
  color: #fff !important;
}
.dark .televediniya .ant-table-tbody > tr:hover > td {
  background-color: inherit !important; /* Dark modeda hoverni o'chirish */
  /* yoki */
  /* background-color: #333;  Dark mode hover fon rangi */
}
/* DetailsInfo  */
:where(.css-dev-only-do-not-override-11lehqq).ant-row {
  display: flex;
  flex-direction: column;
    justify-content: start;
    align-items: start;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-form-horizontal .ant-form-item-label[class*='-24 ']+.ant-form-item-control  {
  width: 100%;
}
[type='text'], [type='number'] {
  border-color: #d9d9d9;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  border-radius: 6px;
}
[type='text']:focus , [type='number']:focus{
  outline: 0;
  outline-offset: 0;
  border: 1px solid #1677ff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1)
}

:where(.css-dev-only-do-not-override-11lehqq).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #4CA852;
    border-color: #4CA852;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #d9ffdc;
    border-color: #4CA852;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
  color: #4CA852;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: #4CA852;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover  {
  color: #4CA852;
    border-color: #4CA852;
}
:where(.css-dev-only-do-not-override-11lehqq).ant-form-horizontal .ant-form-item-control {
  flex: 1 0;
}
.ant-form-item-control-input-content textarea {
  min-height: 41px !important;
  padding-top: 7px;
}
/* #d9d9d9  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) */
